.jalali-clock-display,
.calendar-month-label,
.calendar-tile-main,
.calendar-tile-sub-hijri,
.calendar-tile-sub-gregorian,
.day-label,
.date-label,
.event-summary,
.event-time {
    font-family: Vazirmatn, sans-serif;
}

.jalali-indicator-label {
    font-weight: bold;
    margin: 0 4px;
}

.jalali-holiday-native .calendar-tile-main,
.jalali-holiday-native-text {
    color: #ed333b !important;
}

.calendar-tile-box {
    spacing: 0;
}

.calendar-tile-main {
    font-size: 1.1em;
    font-weight: bold;
    padding-bottom: 2px;
}

.calendar-tile-subs {
    font-size: 0.75em;
}

.calendar-tile-sub-hijri {
    color: rgba(255, 255, 255, 0.85);
    font-weight: bold;
}

.calendar-tile-sub-pipe {
    color: rgba(255, 255, 255, 0.4);
}

.calendar-tile-sub-gregorian {
    color: rgba(255, 255, 255, 0.75);
    font-weight: bold;
}



.calendar-day {
    padding: 2px 4px !important;
}

.calendar-event-line {
    background-color: rgba(255, 255, 255, 0.4);
    margin: 0 4px;
    border-radius: 2px;
    margin-bottom: 2px;
}

.jalali-holiday-native-bg {
    background-color: #ed333b !important;
}
