.jalali-indicator-label {
    font-weight: bold;
    margin: 0 4px;
}

.calendar-tile-box {
    spacing: 0;
}

.calendar-tile-main {
    font-size: 1.1em;
    font-weight: bold;
}

.calendar-tile-subs {
    font-size: 0.75em;
}

.calendar-tile-sub-hijri {
    font-weight: bold;
}

.calendar-tile-sub-gregorian {
    font-weight: bold;
}

.calendar-day {
    padding: 2px 4px !important;
}

.calendar-event-line {
    border-radius: 2px;
    margin-bottom: 2px;
    background-color: currentColor;
}

.calendar-month-label {
    font-size: 0.85em;
}
